*{
    margin:0px;
    padding:0px;
    outline:none;
    white-space: nowrap;
}
a{
    text-decoration: none;
    color:blue;
    
}
a:visited{
    text-decoration: none;
    color:rgb(0, 0, 0);
    
}
h4{
    font-size:4em;
    font-weight: 100;
}
.all{
    position:fixed;
    z-index:-1;
    width:100vw;
    height:100vh;
    top:0%;
    left:0%;
}
#score{
    width:100%;
    height:10%;
    position: fixed;
    top:0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;


}

.flash{
    width:100vw;
    height:100vh;
    position:fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top:0%;
    left:0%;
    background-color: black;
    color:white;
    
}
.first{
    width:100vw;
    height:100vh;
    position:fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top:0%;
    left:0%;
    background-color: white;
    
}
.second{
    width:100vw;
    height:100vh;
    position:fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top:0%;
    left:0%;
    background-color: white;
    
}
.third{
    width:100vw;
    height:100vh;
    position:fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top:0%;
    left:0%;
    background-color: rgba(0, 0, 0, 0.447);
    color:white;
    
}

#move{
    position:fixed;
    top:50%;
    left:0%;
    width:200px;
}
.wrapper{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    width:495px;
    height:495px;
    
}
.containers{
    width: 100vw;
    height:100vh;
    
}
#maze-world{
    width:fit-content;
    height:auto;
    padding:0px;
    position: absolute;
}


div.row{
    width:auto;
    height:15px;
    display:block;
}

div.row div{
    width:15px;
    height:15px;
    display:inline-block;
}

div.brick{
    background-color:rgb(43, 43, 43);
}
div.coin{
    background-color:rgb(140, 140, 140);
    
}
div.empty{
    background-color: rgb(155, 255, 205);
}
div.gold{
    background-color: red;
}

div.question{
    background-color: rgb(59, 59, 59);
}
div.level{
    background-color: rgb(255, 217, 0);
}
.controller{
    display:none;
}

@media only screen and (max-width:370px){
    
    .container{
        width:340px;
        height:340px;
        
    }
    div.row{
        width:auto;
        height:10px;
        display:block;
    }
    
    div.row div{
        width:10px;
        height:10px;
        display:inline-block;
    }
    

.controller{
    width:100vw;
    height:10vh;
    position: absolute;
    bottom:0%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width:50%;
    height:100%;
    border:1px solid black;

}
#left{
    width:20%;
    height:100%;
    background-color: rgb(252, 150, 201);
    position: absolute;
    left:0%;
}
#bottom{
    width:100%;
    height:50%;
    background-color: rgb(105, 153, 255);
    position: absolute;
    bottom:0%;
    left:0%;
}
#right{
    width:20%;
    height:100%;
    background-color: rgb(248, 19, 88);
    position: absolute;
    right:0%;
    z-index:1;
}
#top{
    width:100%;
    height:50%;
    background-color: rgb(105, 255, 178);
    position: absolute;
    top:0%;
    left:0%;
    
}

}


.brandon{
    background-color:rgb(0, 67, 0);
    animation-name: pulsate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes pulsate{
0%{
    background-color:rgb(0, 143, 71);
}
50%{
    background-color:springgreen;
}
100%{
    background-color:rgb(0, 143, 71);
}
}
.portal{
    background-color:salmon;
    animation-name: portall;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes portall{
    0%{
        background-color:rgb(255, 187, 179);
    }
    50%{
        background-color:red;
    }
    100%{
        background-color:rgb(255, 187, 179);
    }